
h1 {
  color: black;
  font-size: 85px;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
}

@font-face {
  font-family: chinese;
  src:url(bodang-xingkai.ttf);
}

#chineseLogo {
  font-family: "chinese";
  text-align: center;
  font-size: 45px;
}

body {
  background:
  linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.7)
    ),
  url("../img/green-tea-2356770_1920_V.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

@media only screen and (min-device-width: 800px) {
  body {
    background:
    linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.1)
      ),
    url("../img/green-tea-2356770_1920.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

#main ul {
      overflow: hidden;
}

#main li {
      float: left;
}

#main li a {
      font-size: 30px;
      font-family: 'Open Sans Condensed', sans-serif;
      display: inline-block;
      color: black;
      text-align: center;
      padding: 10px 80px 10px 80px;
      text-decoration: none;
}

#main li a:hover {
      text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#price {
  margin: 25 0 0 125;
}

#special {
  margin-left: 125px;
}

#items {
  margin: 25 0 0 125;
}

.col-md-6 {
  padding-left: 150px;
}

#awesomeMap {
  margin: 0 auto 0 auto;
  width: 800px;
}

#ending {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  margin: 25% auto 5 auto;
}

#socialIcons {
  text-align: center;
}

.fa-facebook-square {
  font-size: 20px;
}

.fa-yelp {
  font-size: 20px;
}
